*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}









/*--------------------------------------------------------------
  Preloader
--------------------------------------------------------------*/
.page-loader {
  position: fixed;
  background: #000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9998;
}


.loader {
  position: absolute;
  border-left: 2px solid #ffffff;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 46px;
  width: 46px;
  left: 50%;
  top: 50%;
  margin: -23px 0 0 -23px;
  text-indent: -9999em;
  font-size: 10px;
  z-index: 9999;
  -webkit-animation: load 0.8s infinite linear;
  -moz-animation: load 0.8s infinite linear;
  ms-animation: load 0.8s infinite linear;
  o-animation: load 0.8s infinite linear;
  animation: load 0.8s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



































a{
	text-decoration: none;
	color: white;
}



.pix{
	
	height: 70px;

	padding: 0px !important;
}


.pix img{
	width: 100%;
	height: 100%;

}



.det{
	color: white;
	background-color: #3a3a3a;
}



.det, .my_mag{
	height: 40px;
}


.header{
	font-size: 2.5vw
}

  /*Tab*/

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #0082bb;
    border-radius: 8px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #31708f;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  margin-right: 2px;
  border-radius: 8px;
  font-weight: 400;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #8facba;
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #37525f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;

}





.table_header{
	height: 60px;
	line-height: 4;

}

.first_col{
/*	height: 40px !important;*/
	background-color: white !important;
   margin-top: 20px !important;
	font-size: 0.7em;
}


.sec_col{

	height: 40px !important;
    font-size: 0.7em;
}


.stat_head{

	margin-bottom: 40px;
    margin-top: 20px;

}


.acct_stat{
	background-color:#0082bb; 
	height: 75px;
	color: white;
	line-height: 5;
	  font-weight: 400;
   /* border-radius: 5px !important;*/
}


.acct_fig{
	height: 35px;
	background-color: #ccc;
	color: black;
	 font-weight: 800;
line-height: 2;
}








.detal{
	padding: 0px !important;

}







.detal a{

text-decoration: none;

color: white !important;




}




.my_mag{

background-color: #317087;


}


.my_mag:hover{

background-color: #0082bb !important;


}





.ava{
	 height: 50px !important;
    background-color: white;
    padding-top: 30px;

}

.small{
	font-size: 1.5em;
}



.header_two{
	height: 60px;
	line-height: 5;
	background-color: #0082bb !important;
	color: white;
	font-size: bold;
	font-weight: 1000 


}


.userd, .empty{

	background-color: #0082bb;

}

.userd .badge{

	line-height: normal !important;	
}

.empty{
	
	margin-bottom: -6px;
}




.set{
	margin-left: -15px !important;
	width: -moz-available;
	background-color: #00121a1a;
	color: black;
	width: 100%;
	padding: inherit;
}










/*Account creation*/


.acct_creartion_h{

	padding: 20px;
}


 .rate{ 
 	width:178px;
 	 margin:0;
 	  padding:0;
 	  border:1px solid #2D6AB4;
 	  background:#f0f0f0;
 	   float: inline-end; 
 	  

 }




/* end Account creation*/









/*receipt section*/

.receipt_body{
 
 background-color: #003679;

}


.receipt_amount{
	font-size: 2em;
	margin-top: -30px;

	}

.receipt_success{

	color: #0600fffa;
    margin-top: 60px;
    font-weight: 600;
}


.receipt_dear{

	
    margin-top: 20px;
    font-weight: 600;
}




.receipt_ok a{ 

text-decoration: none;

}







.receipt_ok div{ 

width: 130px;
height: 40px;
background-color: white;
color: #0600fffa; 
 font-weight: 700;
 margin: auto;
  margin-top: 50px;
}


.receipt_ok div:hover{ 

color:black;

}


  

/*receipt section ends*/

/*apply for card*/


.image_apply{
	float: left;
	 position: relative;

}



.card_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.card_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image_apply:hover .card_image {
  opacity: 0.3;
}

.image_apply:hover .card_middle {
  opacity: 1;
}

.card_text {
  background-color: #0082bb;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-weight: 600;
  border-radius: 12px;
}



/*apply for card ends*/


 /*acct block section*/

.tac_text{
	
 font-weight: 700;
}




/*new*/


.my_statement{
  font-size: 3vw;
  font-weight: 600;

}


.my_statement2{


 font-size: 2.0vw;

}



.accountstatement{
  
 font-size: 1.5vw;

  border: 1px solid #ccc;
 
}




.accountdetail{

 
 font-size: 2vw;

  border: 1px solid #ccc;

}


/*new dasboard*/


  /*translator*/



@media only screen and (min-width: 200px) and (max-width: 364px) {




.google{


  margin-top: -40px;
}




}


 /*translator end*/





.sidenavtop a{

text-decoration: none;

}


.topdetail2, {

font-weight: 600;

}


/*
.w3-quarter{


border-radius: 12px;


}*/










@media only screen and (min-width: 200px) and (max-width: 400px) {       /*phone*/



.my_body{
	margin-top: 0px !important;
}





.my_statement{
 
 margin-top: 20px;

}












/*exchange rate*/

.rate{

	float: none;
margin-top: 8px;
}



/*

.detal{
	padding: 12px !important;

}*/




.detal, .ip_sen{
font-size: 9px;

}



.tablinks{
	font-size: 10px !important;
     height: 10px !important;
    line-height: 0;
}



.go_down, .small{
	font-size: 10px !important;

}

 .small{
 	margin-top: 20px !important;
 }



 .first_tab{
font-size: 8px;


padding: inherit;
margin: -10px;



}



.my_hiden{
	display: none !important;
}

.detal img{
	height: 80px;
	border-radius: 50px;
	margin-top: 4px;
}

.my_mag{
	padding: 1px !important;
}





.det{
	margin-top: 8px !important;

	padding: 12px;
}






 .cre{

 	margin-right: 2px !important;

 }



.ref, .des, .deb, .cre{
	padding:0px !important;
	

}

.ref{
	margin-right: -9px;
}


.deb{
	width: 40px !important;
}


.table_header{
	margin-top: -9px !important;
	height: 30px !important;

	width: 267px;
}


.first_col, .sec_col{

/*
	height: 20px !important;*/

}


.first_col {
	background-color: white !important;



	
}


.sec_col{
	margin-top: 0px;

	line-height: 0px;
}




.ava{
	height: 25px !important;
    padding-top: 15px;

}



.resixe{
	font-size: 12px ;
}

.buserd{
	font-size: 0.6em !important;
	
}

.up{
	margin-top: 20px !important;
}



.two{
	margin-top: 7px !important;
}



.three{
	margin-top: 20px !important;
}


.four{
	margin-top: 20px !important;
}







.acct_fig {

    height: 25px;
    background-color: #ccc;
    color: black;
    font-weight: 800;
    line-height: -moz-block-height;

}



.acct_stat{

margin-top: 10px;
 height: 50px;



}

.flowletter{
/*

margin-top: -50px !important;*/
  
}




.flowchart{


margin-top: -50px !important;


}






}








@media only screen and (min-width: 750px) and (max-width: 800px){    /*ipad
     
	                                    























}      




